# SCN Mikrotik Omnitik config
# Omnitik 5ac PoE

:global nodenumber {{node_number}}
# Router identity and SSID
:global nodename ("SCN-Nickelsville-CD-" . nodenumber)

:global cidr ("192.168." . nodenumber . ".0/24")
# What's the system for generating these?
# 192.168.88.1 is the mikrotik default IP address
:global ipthirdoctet (88 + nodenumber)

:global cidrleft [ :pick $cidr 0 ( [ :find $cidr "/" ] ) ]
:global cidrright [ :pick $cidr (( [ :find $cidr "/" ] )+1) 100 ]
:global netmask (255.255.255.255<<(32-$cidrright))
:global subnet ($cidrleft&$netmask)
:global firstip ($subnet+1)
:global lastip ($subnet + (~($subnet|$netmask)) - 1)
:global dhcprange (($firstip+5) . "-" . ($lastip-5))

:global adminmac ([/interface get ether2 mac-address])
:global psk seattlecommunitynetwork.org

/delay 15

:beep frequency=500 length=100ms

:foreach x in=[/interface wireless find] do={ /interface wireless reset-configuration $x }

:beep frequency=600 length=100ms

/interface bridge add admin-mac=$adminmac auto-mac=no comment=defconf name=bridge
/interface ethernet set [ find default-name=ether5 ] poe-out=forced-on

### TODO ### enable wireless
### TODO ### enable wireless
### TODO ### enable wireless
### TODO ### enable wireless
/interface wireless set [ find default-name=wlan1 ] band=5ghz-a/n/ac channel-width=20/40/80mhz-XXXX \
  country="united states" disabled=yes distance=indoors frequency=auto mode=ap-bridge ssid=$nodename \
  station-roaming=enabled wireless-protocol=802.11 
### TODO ### enable wireless
### TODO ### enable wireless
### TODO ### enable wireless
### TODO ### enable wireless
### TODO ### enable wireless

:beep frequency=700 length=100ms

/interface list add comment=defconf name=WAN
/interface list add comment=defconf name=LAN
/interface wireless security-profiles set [ find default=yes ] authentication-types=wpa2-psk mode=dynamic-keys \
  supplicant-identity=lclscn wpa-pre-shared-key=$psk wpa2-pre-shared-key=$psk

:beep frequency=800 length=100ms

/ip hotspot profile set [ find default=yes ] html-directory=flash/hotspot
/ip pool add name=dhcp ranges=$dhcprange
/ip dhcp-server add address-pool=dhcp disabled=no interface=bridge name=defconf

:beep frequency=900 length=100ms

/user group set full policy=local,telnet,ssh,ftp,reboot,read,write,policy,test,winbox,password,web,sniff,sensitive,api,romon,dude,tikapp 
/interface bridge port add bridge=bridge comment=defconf interface=ether2
/interface bridge port add bridge=bridge comment=defconf interface=ether3
/interface bridge port add bridge=bridge comment=defconf interface=ether4
/interface bridge port add bridge=bridge comment=defconf interface=wlan1
/ip neighbor discovery-settings set discover-interface-list=LAN
/interface list member add comment=defconf interface=bridge list=LAN
/interface list member add comment=defconf interface=ether1 list=WAN

:beep frequency=1000 length=100ms
/ip address add address=($firstip . "/" . $cidrright) comment=defconf interface=ether2 network=$cidrleft
/ip dhcp-client add comment="for wan on ether5" interface=ether5 disabled=no
/ip dhcp-server network add address=$cidr comment=defconf gateway=$firstip netmask=$cidrright

:beep frequency=1000 length=100ms
/ip dns set allow-remote-requests=yes
/ip dns static add address=$firstip comment=defconf name=router.lan
/ip firewall filter add action=accept chain=input comment="defconf: accept established,related,untracked" \
  connection-state=established,related,untracked
/ip firewall filter add action=drop chain=input comment="defconf: drop invalid" connection-state=invalid
/ip firewall filter add action=accept chain=input comment="defconf: accept ICMP" protocol=icmp
/ip firewall filter add action=accept chain=input comment="defconf: accept to local loopback (for CAPsMAN)" dst-address=127.0.0.1 
/ip firewall filter add action=drop chain=input comment="defconf: drop all not coming from LAN" in-interface-list=!LAN
/ip firewall filter add action=accept chain=forward comment="defconf: accept in ipsec policy" ipsec-policy=in,ipsec
/ip firewall filter add action=accept chain=forward comment="defconf: accept out ipsec policy" ipsec-policy=out,ipsec
/ip firewall filter add action=fasttrack-connection chain=forward comment="defconf: fasttrack" connection-state=established,related 
/ip firewall filter add action=accept chain=forward comment="defconf: accept established,related, untracked" \
  connection-state=established,related,untracked 
/ip firewall filter add action=drop chain=forward comment="defconf: drop invalid" connection-state=invalid
/ip firewall filter add action=drop chain=forward comment="defconf: drop all from WAN not DSTNATed" \
  connection-nat-state=!dstnat connection-state=new in-interface-list=WAN 
/ip firewall nat add action=masquerade chain=srcnat comment="defconf: masquerade" ipsec-policy=out,none out-interface-list=WAN
/system identity set name=$nodename
/tool mac-server set allowed-interface-list=LAN
/tool mac-server mac-winbox set allowed-interface-list=LAN
:beep frequency=1100 length=100ms

# TODO timezone /system clock set time-zone-name=America/Los_Angeles time-zone-autodetect=no
# TODO ntp

/delay 2

:beep frequency=660 length=100ms;
:delay 150ms;
:beep frequency=660 length=100ms;
:delay 300ms;
:beep frequency=660 length=100ms;
:delay 300ms;
:beep frequency=510 length=100ms;
:delay 100ms;
:beep frequency=660 length=100ms;
:delay 300ms;
:beep frequency=770 length=100ms;
:delay 550ms;
:beep frequency=380 length=100ms;
:delay 575ms;
