# NYC Mesh Mikrotik Omnitik config
# Omnitik 5ac PoE
:global nodenumber {{nodenumber}}
:global ipprefix "{{ipprefix}}"
:global iptenantsrange {{ipprefix}}.5-{{ipprefix}}.200
:global iptenantsgw {{ipprefix}}.1

/delay 15

:for j from=1 to=4 step=1 do={
  :for i from=2000 to=50 step=-400 do={
    :beep frequency=$i length=11ms;
    :delay 11ms;
  }
  :for i from=800 to=2000 step=400 do={
    :beep frequency=$i length=11ms;
    :delay 11ms;
  }
}

:beep frequency=500 length=100ms

/system clock set time-zone-name=America/New_York
/system identity set name=("nycmesh-" . $nodenumber . "-omni")

:foreach x in=[/interface wireless find] do={ /interface wireless reset-configuration $x }

:beep frequency=600 length=100ms

/interface bridge
add auto-mac=yes name=local fast-forward=no 
add auto-mac=yes name=mesh fast-forward=no protocol-mode=none

/interface bridge settings
set use-ip-firewall=yes

/interface bridge filter
add action=drop chain=forward in-bridge=mesh
add action=drop chain=forward in-interface=wlan2

:beep frequency=700 length=100ms

/interface wireless security-profiles
add authentication-types=wpa-psk,wpa2-psk management-protection=allowed mode=\
    dynamic-keys name=nycmeshnet supplicant-identity=nycmesh \
    wpa-pre-shared-key=nycmeshnet wpa2-pre-shared-key=nycmeshnet

:beep frequency=800 length=100ms

/interface wireless
set [ find default-name=wlan1 ] band=5ghz-a/n/ac channel-width=20/40/80mhz-Ceee country="united states2" disabled=no distance=indoors frequency=5180 mode=ap-bridge security-profile=nycmeshnet ssid=("nycmesh-" . $nodenumber . "-omni")  wireless-protocol=802.11 wps-mode=disabled
add disabled=no master-interface=wlan1 name=wlan2 ssid="-NYC Mesh Community WiFi-" wps-mode=disabled
add disabled=no master-interface=wlan1 name=wlan3 ssid="nycmesh-wds" wds-default-bridge=mesh wds-mode=dynamic-mesh wps-mode=disabled security-profile=nycmeshnet

:beep frequency=900 length=100ms

/ip address
add address=($ipprefix . ".1/24") interface=local network=($ipprefix . ".0")
add address={{meship}}/24 interface=mesh network=10.70.255.0

:beep frequency=1000 length=100ms

/ip dhcp-client
add add-default-route=no disabled=yes interface=ether5 use-peer-dns=no use-peer-ntp=no

:beep frequency=1100 length=100ms

/interface bridge port
add bridge=local interface=ether1
add bridge=local interface=ether2
add bridge=local interface=ether3
add bridge=local interface=ether4
add bridge=local interface=wlan1
add bridge=local interface=wlan2
add bridge=mesh interface=ether5
add bridge=mesh interface=all internal-path-cost=50 path-cost=50

:beep frequency=1200 length=100ms

/ip pool
add name=local ranges=$iptenantsrange

:beep frequency=1300 length=100ms

/ip dhcp-server
add address-pool=local disabled=no interface=local name=localdhcp

:beep frequency=1400 length=100ms

/ip dhcp-server network
add address=($ipprefix . ".0/24") dns-server=10.10.10.10 gateway=($ipprefix . ".1") netmask=24

:beep frequency=1500 length=100ms

/routing ospf instance set [ find default=yes ] distribute-default=if-installed-as-type-1 router-id=($ipprefix . ".1") redistribute-connected=as-type-1
/routing filter add chain=ospf=in set-bgp-communities=65000:110 set-distance=205
/routing ospf interface add interface=mesh network-type=ptmp
/routing ospf network add area=backbone network=10.70.255.0/24

:beep frequency=1600 length=100ms

/ip firewall filter
add action=accept chain=input protocol=icmp
add action=drop chain=input in-bridge-port=wlan2
add action=accept chain=forward
add action=accept chain=input

:beep frequency=1700 length=100ms

:beep frequency=500 length=200ms;
:delay 500ms;
:beep frequency=500 length=200ms;
:delay 200ms;
:beep frequency=800 length=500ms;
:delay 50ms;
